* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Lato', sans-serif;

}

body {

    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #A4DDB9;

}

.login {

    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 7px;

}

.login .logo {

    font-size: 25px;
    font-weight: 500;
    position: relative;

}

.login .logo::before {

    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: #A4DDB9;

}

.login form .user-details {

     display: flex;
     flex-wrap: wrap;
     margin: 20px 0 12px 0;

}

form .user-details .input-box {

    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);

}

.user-details .input-box .details {

    display: block;
    font-weight: 500;
    margin-bottom: 5px;

}

.user-details .input-box input {

    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 7px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;

}

.user-details .input-box input:focus,
.user-details .input-box input:valid {

    border-color: darkblue;

}

form .button {

    height: 45px;
    margin: 45px 0;

}

form .button input {

    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    background: #0ACD6C;
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 7px;
    box-shadow: 0 2rem 3rem rgba(139, 132, 200, 0.18);

}

form .button input:hover {

    box-shadow: none;

}